# Запрет на прямой доступ к файлам *.inc, *.rar
<Files "*.inc">
    Order Deny,Allow
    Deny from all
</Files>
<Files  "*.html">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.rar">
    Order Deny,Allow
    Deny from all
</Files>
# Запрещаем показывать список файлов в директориях, где нет индексного файла
Options -Indexes
# Убеждаемся, что всё настроено по дефолту
php_value magic_quotes_gpc off
php_value register_globals off
# Turn ETags Off

Options +FollowSymLinks
RewriteEngine on

# Перенаправляем со всех возможных начальных страниц по ВМШ на одну и ту же
RewriteCond %{HTTP_HOST} ^shashkovs.ru
RewriteRule (.*) http://www.shashkovs.ru/vmsh_test/$1 [R=301,L]


RewriteCond %{THE_REQUEST} /about/index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh_test/about/ [R=301,L]
RewriteCond %{THE_REQUEST} /contact/index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh_test/contact/ [R=301,L]
RewriteCond %{THE_REQUEST} /index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh_test/ [R=301,L]

RewriteCond %{THE_REQUEST} /i/ [NC]
RewriteRule ^(.*)$ http://www.shashkovs.ru/$1


################################
# Настраиваем доступ по паролю #
################################
AuthName "VMSh, 8 klass"
AuthType Basic
require valid-user
AuthUserFile /home/host1000218/shashkovs.ru/htdocs/www/vmsh_test/conduit/.htpasswd
#<Limit GET POST PUT>
#Require valid-user
#</Limit>


ExpiresActive On
ExpiresByType image/x-icon A604800
ExpiresByType image/gif A604800
ExpiresByType image/jpeg A604800
ExpiresByType image/png A604800
ExpiresByType text/css A604800
ExpiresByType text/javascript A604800
ExpiresByType application/x-javascript A604800


# Пути для поиска файлов
php_value include_path "/home/host1000218/shashkovs.ru/htdocs/www/vmsh_test/conduit/"

# Сообщения об ошибках
ErrorDocument 401 http://www.shashkovs.ru/401/
ErrorDocument 403 http://www.shashkovs.ru/403/
ErrorDocument 404 http://www.shashkovs.ru/vmsh_test/
ErrorDocument 500 http://www.shashkovs.ru/vmsh_test/

# Логирование ошибок
php_value display_errors on
php_value display_startup_errors on
php_value error_log "/home/host1000218/shashkovs.ru/htdocs/www/vmsh_test/conduit/conduit.log"
